body {
    font-family: 'News Cycle', sans-serif;
    padding: 20px;
    background-color: #d6d6d6;
}

article {
    background-color: white;
    border-top: 5px solid rgb(187, 187, 187);
    position: relative;
    display: inline-block;
    width: 320px;
    margin: 20px;
}


h1{
    padding-left: 20px;
    color: rgb(68, 132, 226);
}

h4 {
    padding-left: 20px;
    color: #666;
}

div {
    padding: 20px;
}
   

img {
    padding-right: 20px;
    float: left;
    width: 180px;
}

em {
    color: #666;
}

a {
    text-decoration: none;
    color: white;
    position: absolute;
    background: rgb(68, 132, 226);
    border-radius: 20px 0 20px 0;
    width: 250px;
    height: 40px;
    padding: 10px;
    right: 0;
    left: 0;
    bottom: 10px;
    margin: auto;
    text-align: center;
}

a:hover {
    background: rgb(11, 76, 173);
}

article:hover {
    cursor: pointer;
    bottom: 10px;
}



.zoom {
    opacity: 0;
    width: 50px;
    left: 20px;
    margin-top: 0px;
    position: absolute;
    padding: 64px;
    padding-top: 105px;
}

.zoom:hover {
    transition: 1s;
    opacity: 1;
}

.zoom2:hover {
    transition: 1s;
    opacity: 1;
}

.zoom1:hover {
    transition: 1s;
    opacity: 1;
}

.zoom2 {
    opacity: 0;
    width: 50px;
    left: 20px;
    margin-top: 0px;
    position: absolute;
    padding: 64px;
    padding-top: 135px;
}

.zoom1 {
    opacity: 0;
    width: 50px;
    left: 20px;
    margin-top: 0px;
    position: absolute;
    padding: 64px;
    padding-top: 130px;
}
